.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(231, 81, 81);
}

.header ul {
    width: 200px;
    display: flex;
    gap: 20px;
    padding: 10px;
    list-style: none;
}

.header a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: all 300ms;
}

.header a:hover{
    color: rgba(255, 255, 255, 1);

}